#body-container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

#spinner {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 45vh;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3D3149;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
      
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
