header {
    width: 100%;
    min-height: 25vh;
    flex: 0 0 25vh;
    -ms-flex: 0 0 25vh;
    -webkit-flex:0 0 25vh;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    background-color: #383447;
}

header > .search-container {
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    margin-top: 15px;
}

.search-container > form {
    /* width: 50%; */
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: center;
}

.search-container input[type=text] {
    width: 80%;
    min-width: 150px;
    max-width: 700px;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -mx-flex: 0 0 auto;
    font-size: 1em;
    padding: 6px;
    border: none;
    margin-top: 8px;
}

header > .advanced-options {
    width: 80%;
    height: 68%;
    min-width: 150px;
    max-width: 700px;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -mx-flex: 0 0 auto;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-self: center;
    -ms-flex-align-self: center;
    -webkit-flex-align-self: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -mx-flex-wrap: wrap;
    justify-content: space-around;
}

.advanced-options > .sort-by-year {
    color: white;
    flex: 0 0 280px;
    -ms-flex: 0 0 280px;
    -webkit-flex: 0 0 280px;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align-items: center;
    -webkit-flex-align-items: center;
}

.advanced-options > .filter-by {
    color: white;
    flex: 0 0 280px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

#filterValue {
    font-size: 0.8em;
    padding: 6px;
    border: none;
    width: 80%;
}

#searchByForm {
    display: none;
}
