header {
    flex: 0 0 20vh;
    min-height: 20vh;
    width: 100%;
    background-color: #383447;
    display: flex;
    flex-flow: column nowrap;
}

header > .search-container {
    flex: 0 0 auto;
    margin-top: 15px;
}

.search-container > form {
    /* width: 50%; */
    display: flex;
    justify-content: center;
}

.search-container input[type=text] {
    flex: 0 0 auto;
    width: 80%;
    min-width: 150px;
    max-width: 700px;
    font-size: 1em;
    padding: 6px;
    border: none;
    margin-top: 8px;
}

header > .advanced-options {
    flex: 0 0 auto;
    width: 80%;
    height: 70%;
    min-width: 150px;
    max-width: 700px;
    display: flex;
    align-self: center;
    
}

.advanced-options > .sort-by-year {
    color: white;
    flex: 0 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}