.movie {
    width: 80%;
    min-width: 350px;
    max-width: 850px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap
}

.movie:first-of-type {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.movie:last-of-type {
    margin-bottom: 1.5em;
}


/* Movie Card CSS */
.movie > .movie-title-container {
    font-size: 1.5em;
    padding: 0.5em 1em;
}

.movie > .movie-details {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    padding: 0.5em 1em;
}

.movie-details > div {
    flex: 2 2 auto;
}

.movie-details > div > ul{
    padding: 0.5em 0 0 1.3em;
}

.movie-details > div > div:first-child {
    padding: 0.5em 0;
}



.movie-details > aside {
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    overflow: hidden;
}

.movie-details > aside > ul {
    list-style: none;
}

.movie-details > aside > ul > li {
    list-style: none;
    padding: 0.5em 0 0 0; 
}

